/* LoginForm.css */

.login-card {
    width: 500px;
}

.login-title {
    display: flex;
    justify-content: center;
}

.login-form-button {
    width: 100%;
}

.login-form-forgot {
    float: right;
}